<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <img src="/assets/Logox3.png" alt="Logo" class="logo" />
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon> Inicio
      </a>
      <a mat-list-item routerLink="/noticias">
        <mat-icon>feed</mat-icon> Noticias
      </a>
      <a mat-list-item routerLink="/actividades">
        <mat-icon>event</mat-icon> Actividades
      </a>
      <a mat-list-item routerLink="/mapa">
        <mat-icon>map</mat-icon> Mapa
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon> Salir
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>