/* <------------------------------------- HERO ------------------------------------> */


.main__hero-image-container {
  height: 80vh;
  width: auto;
}

.main__hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__hero-content {
  background: linear-gradient(135deg, #bbdfbf, #f1f8f5);
  padding: 48px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.main__hero-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0;
  width: 45%;
  color: #2e563b;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main__hero-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.main__hero-description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #4a4a4a;
}

.default-btn {
  width: fit-content;
  padding: 10px 15px;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.default-btn:hover {
  transform: translateY(-2px);
}

/* <------------------------------------- INITIATIVES ------------------------------------> */
.main__initiatives {
  padding: 64px 50px;
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 32px;
}

.main__initiatives-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.main__initiatives-title {
  font-size: 48px;
  text-align: start;
  margin: 0;
  color: #1b3e2e;
}

.main__initiatives-container {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 32px;
}

.main__initiative {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  width: 45%;
  text-align: start;
}

.main__initiative-title {
  font-size: 2.2rem;
  color: #388e3c;
  margin-bottom: 12px;
}

.main__initiative-description {
  font-size: 1rem;
  color: #4a4a4a;
}

.white-btn {
  border: 1px solid white !important;
  color: white !important;
  font-weight: 500;
  text-transform: none;
  padding: 8px 20px !important;
  border-radius: 6px !important;
  background-color: transparent !important;
  transition: all 0.3s ease;
}

.white-btn:hover {
  color: var(--color-bg-primary) !important;
  border-color: white !important;
}

.main__initiatives-image-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.main__initiatives-image {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

/* <------------------------------------- IMPACT ------------------------------------> */
.main__impact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7ebc7e;
  padding: 64px 80px;
  gap: 32px;
  flex-wrap: wrap;
  border-top: 1px solid #d9e4dd;
  border-bottom: 1px solid #d9e4dd;
}

.main__impact-image-container {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__impact-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main__impact-content {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--color-text-primary);
}

.main__impact-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  color: #2d5c4d;
}

.main__impact-description {
  font-size: 1rem;
  margin: 0;
  color: #3f3f3f;
}

/* <------------------------------------- JOIN ------------------------------------> */
.main__join {
  background: linear-gradient(135deg, #cce4cf, #f1f8f5);;
  padding: 64px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #d9e4dd;
}

.main__join-content {
  flex: 1 1 60%;
  color: #2d5c4d;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main__join-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
}

.main__join-description {
  font-size: 1.1rem;
  margin: 0;
}

/* Botones */
.header__actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

button[mat-button],
button[mat-flat-button],
button[mat-stroked-button] {
  font-weight: 500;
  border-radius: 8px;
  font-size: 14px;
}

/* ✅ Botón Inicia Sesión */
#login-button {
  border: 1px solid var(--verde-oscuro);
  color: var(--verde-oscuro);
  background-color: white;
}

#login-button:hover {
  background-color: rgb(143, 196, 69);
}

/* ✅ Botón Regístrate con verde más fuerte */
#register-button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#register-button:hover {
  background-color: rgb(143, 196, 69);
}

#login-button mat-icon,
#register-button mat-icon {
  margin-right: 0.3rem;
}

.main__join-buttons-container {
  flex: 1 1 35%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  flex-wrap: wrap;
}

.black-btn {
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 500;
  text-transform: none;
  transition: all 0.3s ease;
  background-color: #2d5c4d !important;
  color: white !important;
}

.black-btn:hover {
  background-color: white !important;
  color: #2d5c4d !important;
  border: 1px solid #2d5c4d;
}

/* <------------------------------------- FOOTER ------------------------------------> */
.footer {
  background-color: #3e6746;
  color: white;
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2;
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 16px;
}

.footer__logo-image-container:hover {
  cursor: pointer;
}

.footer__logo-image {
  max-height: 50px;
}

.footer__contact-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.footer__contact-link {
  text-decoration: none;
}

.footer__contact-icon {
  color: white;
  font-size: 1.3rem;
  transition: all 0.4s ease;
}

.footer__contact-icon:hover {
  color: #a5d6a7;
  transform: scale(1.2);
}

.footer__policies {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
}

.footer__policies-text {
  font-size: 14px;
  margin: 0;
  color: #cfcfcf;
}

.footer__policies-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.footer__policies-link {
  font-size: 14px;
  color: #cfcfcf;
  text-decoration: none;
}

.footer__policies-item:hover .footer__policies-link {
  text-decoration: underline;
}

@media (max-width: 480px) {
  /* Ajustes aún más comprimidos si lo necesitas */
}
