<div class="header-acciones" *ngIf="isAdmin">
  <button mat-raised-button color="primary" (click)="abrirDialogRegistro()">
    <mat-icon>add</mat-icon> Registrar Evento
  </button>
</div>
<div *ngIf="isLoading" class="loading-container">
  <mat-spinner></mat-spinner>
  <p>Cargando eventos...</p>
</div>

<div *ngIf="!isLoading && eventos.length === 0" class="empty-message">
  <p>No se encontraron eventos registrados.</p>
</div>

<div class="eventos-container" *ngIf="!isLoading && eventos.length > 0">
  <mat-card class="evento-card" *ngFor="let evento of eventos">
    <mat-card-header>
      <mat-card-title>{{ evento.nombre }}</mat-card-title>
      <mat-card-subtitle
        >{{ evento.fecha }} • {{ evento.hora }}</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
      <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
      <p>
        <strong>Tipo de Evento:</strong> {{ evento.nombreTipoEvento }} <br />
        <span class="codigo-tipo-evento"
          >Código de tipo: {{ evento.idTipoEvento }}</span
        >
      </p>

      <!-- Mostrar organizadores si existen -->
      <div *ngIf="evento.organizadores && evento.organizadores.length > 0">
        <p class="titulo-organizadores">👥 Organiza:</p>
        <mat-chip-set>
          <mat-chip-row *ngFor="let organizador of evento.organizadores">
            {{ organizador }}
          </mat-chip-row>
        </mat-chip-set>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <!-- Botón de inscripción -->
      <button
        mat-stroked-button
        color="accent"
        (click)="abrirFormularioInscripcion(evento.id)"
      >
        <mat-icon>event_available</mat-icon> Registrarse al evento
      </button>

      <!-- Botón eliminar (solo admin) -->
      <button
        *ngIf="isAdmin"
        mat-icon-button
        color="warn"
        (click)="eliminarEvento(evento.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
