<mat-toolbar class="header" color="primary">
  <nav class="header__nav">
    <a routerLink="/" id="logo-link" class="header__nav-link">
      <mat-icon class="header__icon">eco</mat-icon> WideGreen
    </a>

    <ul class="header__nav-list">
      <div class="header__nav-item">
        <a mat-button routerLink="/nuestro-equipo" class="header__nav-link">
          <mat-icon class="header__icon">group</mat-icon> Equipo
        </a>
      </div>
      <div class="header__nav-item">
        <a mat-button routerLink="/acerca-de" class="header__nav-link">
          <mat-icon class="header__icon">info</mat-icon> Acerca de
        </a>
      </div>
      <div class="header__nav-item">
        <a mat-button routerLink="/contactos" class="header__nav-link">
          <mat-icon class="header__icon">contact_mail</mat-icon> Contacto
        </a>
      </div>
    </ul>

    <div class="header__actions">
      <button id="login-button" mat-stroked-button color="primary" routerLink="/login">
        <mat-icon>login</mat-icon>
        Inicia Sesión
      </button>
      <button id="register-button" mat-flat-button color="primary" routerLink="/registro">
        <mat-icon>person_add</mat-icon>
        Regístrate
      </button>
    </div>
  </nav>
</mat-toolbar>