.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: #777;
}

.perfil-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 20px;
  flex-wrap: wrap; /* Hace que sea responsive */
}

.perfil-card {
  flex: 1 1 300px;
  min-width: 300px;
  max-width: 500px;
}

.perfil-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ccc;
}

.perfil-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.publicacion-card {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

h3 {
  margin-top: 30px;
  font-weight: bold;
  color: #2c3e50;
}

app-calendario-usuario {
  flex: 1 1 300px;
  min-width: 300px;
  max-width: 500px;
  margin-top: 20px;
}
