<mat-card>
  <mat-card-title>Mis notificaciones</mat-card-title>
  <mat-list>
    <mat-list-item *ngFor="let noti of notificaciones">
      <span *ngIf="notificacionesNoVistas > 0">{{ notificacionesNoVistas }}</span>

      <mat-icon matListIcon>
        {{ noti.visto ? "notifications" : "notifications_active" }}
      </mat-icon>
      <div class="contenido">
        <div class="mensaje" [ngClass]="noti.visto ? 'leida' : 'nueva'">
          {{ noti.contenido }}
        </div>
        <div class="fecha">
          {{ noti.fecha | date : "short" }}
        </div>
      </div>
      <div class="acciones">
        <button *ngIf="!noti.visto" mat-icon-button (click)="marcarComoVisto(noti.id)">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
