<app-navbar></app-navbar>

<!-- main content -->
<main class="main">
    <!-- Header navigation already included via app-navbar -->
     
<!-- Misión y Visión -->
  <section class="main__definition">
    <h1 class="main__definition-title">Cambia Lima con WideGreen</h1>
    <div class="main__definition-proposals">
      <div class="main__definition-proposal">
        <span class="main__definition-icon"><i class="fa-solid fa-seedling"></i></span>
        <h2 class="main__definition-proposal-title">Misión</h2>
        <p class="main__definition-proposal-text">
          Nuestra misión es concienciar sobre los desafíos ambientales en el ecosistema peruano,
          conectando a las personas con información clave sobre áreas verdes y eventos actuales.
        </p>
      </div>
      <div class="main__definition-proposal">
        <span class="main__definition-icon"><i class="fa-solid fa-eye"></i></span>
        <h2 class="main__definition-proposal-title">Visión</h2>
        <p class="main__definition-proposal-text">
          Ser una plataforma líder a nivel nacional en el impulso de propuestas ambientales y la
          provisión de herramientas para la actualización sobre los últimos incidentes que afectan las áreas verdes.
        </p>
      </div>
    </div>
  </section>

    <!-- Origen -->
    <section class="main__origin">
        <div class="main__origin-content">
            <h2 class="main__origin-title">Origen</h2>
            <p class="main__origin-text">
                La Startup WideGreen surge del impulso de un grupo de estudiantes de la UPC para impactar
                positivamente en el cuidado ambiental de Lima. Conscientes de la importancia de esta causa, se
                embarcaron en la creación de una solución para esta problemática.
            </p>
        </div>
        <div class="main__origin-image-container">
            <img class="main__origin-image" src="/assets/origin.png" alt="WideGreen origin image">
        </div>
    </section>

    <!-- Nuestro Equipo -->
    <section class="main__team-members">
        <h2 class="main__team-members-title">Nuestro Equipo</h2>
        <p class="main__contact-text">Somos un equipo entusiasta dedicado al cuidado del medio ambiente.</p>
        <div class="main__team-members-container">
            <div class="main__team-member" *ngFor="let integrante of integrantes">
                <img [src]="integrante.imagen" [alt]="integrante.nombre" class="main__team-member-image">
                <h3 class="main__team-member-name">{{ integrante.nombre }}</h3>
                <p class="main__team-member-role">{{ integrante.rol }}</p>
                <p class="main__team-member-description">{{ integrante.descripcion }}</p>
                <div class="main__team-member-social">
                    <a href="#" class="main__team-member-social-link"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="main__team-member-social-link"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="main__team-member-social-link"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contacto -->
    <section class="main__contact">
        <h2 class="main__contact-title">Contáctanos</h2>
        <p class="main__contact-text">Nos encantaría saber de usted. ¡Póngase en contacto con WideGreen hoy!</p>
        <div class="main__contact-info">
            <div class="main__contact-list">
                <div class="main__contact-item">
                    <span class="main__contact-icon"><i class="fa-solid fa-envelope"></i></span>
                    <h3 class="main__contact-item-title">Email</h3>
                    <p class="main__contact-item-text">Enviamos un email</p>
                    <a href="mailto:hello&#64;widegreen.com" class="main__contact-item-link">hello&#64;widegreen.com</a>
                </div>
                <div class="main__contact-item">
                    <span class="main__contact-icon"><i class="fa-solid fa-phone"></i></span>
                    <h3 class="main__contact-item-title">Teléfono</h3>
                    <p class="main__contact-item-text">Llámanos</p>
                    <a href="#" class="main__contact-item-link">+51 942 737 152</a>
                    <a href="#" class="main__contact-item-link">+51 952 892 760</a>
                    <a href="#" class="main__contact-item-link">+51 928 255 060</a>
                    <a href="#" class="main__contact-item-link">+51 981 090 007</a>
                    <a href="#" class="main__contact-item-link">+51 926 817 454</a>
                </div>
                <div class="main__contact-item">
                    <span class="main__contact-icon"><i class="fa-solid fa-map-marker-alt"></i></span>
                    <h3 class="main__contact-item-title">Oficina</h3>
                    <p class="main__contact-item-text">Prolongación Primavera 2390, Santiago de Surco 15023</p>
                    <a href="#" class="main__contact-item-link">Nuestra Dirección <span class="main__contact-icon"><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
            </div>
            <div class="main__contact-image-container">
                <img class="main__contact-image" src="/assets/contact-office.png" alt="WideGreen contact image">
            </div>
        </div>
    </section>
</main>

<!-- footer -->
<footer class="footer">
    <div class="footer__contact">
        <div class="footer__logo-image-container">
            <a routerLink="/inicio" (click)="scrollToTop()" class="footer__logo-image-container">
                <img class="footer__logo-image" src="/assets/Logox3.png" alt="WideGreen logo">
            </a>
        </div>
        <ul class="footer__contact-list">
            <li class="footer__contact-item">
                <a href="https://www.facebook.com/" class="footer__contact-link"><span class="footer__contact-icon"><i class="fa-brands fa-facebook fa-xl"></i></span></a>
            </li>
            <li class="footer__contact-item">
                <a href="https://www.instagram.com/" class="footer__contact-link"><span class="footer__contact-icon"><i class="fa-brands fa-instagram fa-xl"></i></span></a>
            </li>
            <li class="footer__contact-item">
                <a href="https://x.com/" class="footer__contact-link"><span class="footer__contact-icon"><i class="fa-brands fa-x-twitter fa-xl"></i></span></a>
            </li>
            <li class="footer__contact-item">
                <a href="https://pe.linkedin.com/" class="footer__contact-link"><span class="footer__contact-icon"><i class="fa-brands fa-linkedin fa-xl"></i></span></a>
            </li>
            <li class="footer__contact-item">
                <a href="https://www.youtube.com/" class="footer__contact-link"><span class="footer__contact-icon"><i class="fa-brands fa-youtube fa-xl"></i></span></a>
            </li>
        </ul>
    </div>
    <div class="footer__policies">
        <p class="footer__policies-text">&copy; 2025 WideGreen. Todos los derechos reservados.</p>
        <ul class="footer__policies-list">
            <li class="footer__policies-item"><a href="#" class="footer__policies-link">Política de privacidad</a></li>
            <li class="footer__policies-item"><a href="#" class="footer__policies-link">Términos y condiciones</a></li>
            <li class="footer__policies-item"><a href="#" class="footer__policies-link">Cookies</a></li>
        </ul>
    </div>
</footer>