/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --color-bg-primary: #B2DDCB;
  --color-bg-secondary: #5EA89C;
  --color-bg-tertiary: #51927A;
  --color-text-primary: #000000;
  --color-text-secondary: #FFFFFF;
}
/* styles.css o en angular.json → styles */
.custom-dialog-container .mat-mdc-dialog-container {
  background: transparent !important; /* elimina el fondo blanco base */
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  overflow: visible !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
